.ion-color-primary {
    --ion-color-base: #11326d !important;
    --ion-color-base-rgb: var(--ion-color-primary-rgb) !important;
    --ion-color-contrast: #5d6ae2 !important;
    --ion-color-contrast-rgb: var(--ion-color-primary-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-primary-shade, #004acd) !important;
    --ion-color-tint: var(--ion-color-primary-tint, #1a65eb) !important;
}

.ion-color-danger {
    --ion-color-base: #67181d !important;
    --ion-color-base-rgb: var(--ion-color-danger-rgb) !important;
    --ion-color-contrast: #c01d1d !important;
    --ion-color-contrast-rgb: var(--ion-color-danger-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-danger-shade, #ad000d) !important;
    --ion-color-tint: var(--ion-color-danger-tint, #cb1a27) !important;
}