.form-container {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px;
    gap: 16px;
}


.form-container .form {
    width: 100%;
    max-width: 640px;
}